div {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 4px solid #000;
    width: fit-content;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

img {
    width: 400px;
}

img:hover {
    transform: scale(1.1);
    transition: ease 1s;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    color: #000;
    width: fit-content;
}

p:hover {
    color: #00f;
}

footer {
    text-align: center;
}